In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [41]:
crimeData=pd.read_csv('Crime.csv')

In [42]:
crimeData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396735 entries, 0 to 396734
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   X                  396735 non-null  float64
 1   Y                  396735 non-null  float64
 2   OBJECTID           396735 non-null  int64
 3   EVENT_UNIQUE_ID    396735 non-null  object
 4   REPORT_DATE        396735 non-null  object
 5   OCC_DATE           396735 non-null  object
 6   REPORT_YEAR        396735 non-null  int64
 7   REPORT_MONTH       396735 non-null  object
 8   REPORT_DAY         396735 non-null  int64
 9   REPORT_DOY         396735 non-null  int64
 10  REPORT_DOW         396735 non-null  object
 11  REPORT_HOUR        396735 non-null  int64
 12  OCC_YEAR           396605 non-null  float64
 13  OCC_MONTH          396605 non-null  object
 14  OCC_DAY            396605 non-null  float64
 15  OCC_DOY            396605 non-null  float64
 16  OCC_DOW            396605 non-null  object
 17  OCC_HOUR           396735 non-null  int64
 18  DIVISION           396735 non-null  object
 19  LOCATION_TYPE      396735 non-null  object
 20  PREMISES_TYPE      396735 non-null  object
 21  UCR_CODE           396735 non-null  int64
 22  UCR_EXT            396735 non-null  int64
 23  OFFENCE            396735 non-null  object
 24  MCI_CATEGORY       396735 non-null  object
 25  HOOD_158           396735 non-null  object
 26  NEIGHBOURHOOD_158  396735 non-null  object
 27  HOOD_140           396735 non-null  object
 28  NEIGHBOURHOOD_140  396735 non-null  object
 29  LONG_WGS84         396735 non-null  float64
 30  LAT_WGS84          396735 non-null  float64
dtypes: float64(7), int64(8), object(16)
memory usage: 93.8+ MB

In [43]:
homicide=pd.read_csv('homicide.csv')
shooting=pd.read_csv('shooting.csv')

In [44]:
homicide.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   OBJECTID           1440 non-null   int64
 1   EVENT_UNIQUE_ID    1440 non-null   object
 2   OCC_DATE           1440 non-null   object
 3   OCC_YEAR           1440 non-null   int64
 4   OCC_MONTH          1440 non-null   object
 5   OCC_DAY            1440 non-null   int64
 6   OCC_DOW            1440 non-null   object
 7   OCC_DOY            1440 non-null   int64
 8   DIVISION           1440 non-null   object
 9   HOMICIDE_TYPE      1440 non-null   object
 10  HOOD_158           1440 non-null   object
 11  NEIGHBOURHOOD_158  1440 non-null   object
 12  HOOD_140           1440 non-null   object
 13  NEIGHBOURHOOD_140  1440 non-null   object
 14  LONG_WGS84         1440 non-null   float64
 15  LAT_WGS84          1440 non-null   float64
 16  x                  1440 non-null   float64
 17  y                  1440 non-null   float64
dtypes: float64(4), int64(4), object(10)
memory usage: 202.6+ KB

In [45]:
shooting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6295 entries, 0 to 6294
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   OBJECTID           6295 non-null   int64
 1   EVENT_UNIQUE_ID    6295 non-null   object
 2   OCC_DATE           6295 non-null   object
 3   OCC_YEAR           6295 non-null   int64
 4   OCC_MONTH          6295 non-null   object
 5   OCC_DOW            6295 non-null   object
 6   OCC_DOY            6295 non-null   int64
 7   OCC_DAY            6295 non-null   int64
 8   OCC_HOUR           6295 non-null   int64
 9   OCC_TIME_RANGE     6295 non-null   object
 10  DIVISION           6295 non-null   object
 11  DEATH              6295 non-null   int64
 12  INJURIES           6295 non-null   int64
 13  HOOD_158           6295 non-null   object
 14  NEIGHBOURHOOD_158  6295 non-null   object
 15  HOOD_140           6295 non-null   object
 16  NEIGHBOURHOOD_140  6295 non-null   object
 17  LONG_WGS84         6295 non-null   float64
 18  LAT_WGS84          6295 non-null   float64
 19  x                  6295 non-null   float64
 20  y                  6295 non-null   float64
dtypes: float64(4), int64(7), object(10)
memory usage: 1.0+ MB

In [46]:
# import folium
# from folium.plugins import HeatMap, MarkerCluster




# toronto_map = folium.Map(location=[43.651070, -79.347015], zoom_start=12)

# # Create a HeatMap layer
# heatmap_data = [[row['LAT_WGS84'], row['LONG_WGS84']] for idx, row in sampled_data.iterrows()]
# HeatMap(heatmap_data, radius=15).add_to(toronto_map) 

# marker_cluster = MarkerCluster().add_to(toronto_map)

# # Add individual points to the marker cluster
# for idx, row in crimeData.iterrows():
#     folium.CircleMarker(
#         location=[row['LAT_WGS84'], row['LONG_WGS84']],
#         radius=3,
#         color='red',
#         fill=True,
#         fill_color='red',
#         fill_opacity=0.6,
#         popup=f"{row['OFFENCE']}, {row['NEIGHBOURHOOD_158']}"
#     ).add_to(marker_cluster)

In [79]:
#Firstly lets deal with the homicide dataset

In [47]:
# the homicide type has shooting, stabbing and others. replace it with offence so we can merge with offence in the crimeData df.
homicide.rename(columns={"HOMICIDE_TYPE":"OFFENCE"},inplace=True)

In [48]:
homicide.head()

,OBJECTID,EVENT_UNIQUE_ID,OCC_DATE,OCC_YEAR,OCC_MONTH,OCC_DAY,OCC_DOW,OCC_DOY,DIVISION,OFFENCE,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84,x,y
0,1,GO-2004111878,1/3/2004 5:00:00 AM,2004,January,3,Saturday,3,D53,Other,098,Rosedale-Moore Park (98),098,Rosedale-Moore Park (98),-79.392828,43.685026,-8.837969e+06,5.416828e+06
1,2,GO-2004125755,1/8/2004 5:00:00 AM,2004,January,8,Thursday,8,D42,Shooting,142,Woburn North (142),137,Woburn (137),-79.233852,43.781782,-8.820272e+06,5.431734e+06
2,3,GO-2004136086,1/8/2004 5:00:00 AM,2004,January,8,Thursday,8,D42,Shooting,146,Malvern East (146),132,Malvern (132),-79.205574,43.810544,-8.817124e+06,5.436170e+06
3,4,GO-2004148623,1/25/2004 5:00:00 AM,2004,January,25,Sunday,25,D13,Shooting,171,Junction-Wallace Emerson (171),093,Dovercourt-Wallace Emerson-Junction (93),-79.434387,43.670467,-8.842596e+06,5.414587e+06
4,5,GO-2004148619,1/25/2004 5:00:00 AM,2004,January,25,Sunday,25,D42,Shooting,144,Morningside Heights (144),131,Rouge (131),-79.204958,43.822997,-8.817056e+06,5.438091e+06

In [49]:
# The shooting dataframe has no offence column. so let us create a offence column and add Shooting for all of its values
shooting["OFFENCE"]="Shooting"

In [50]:
homicide["MCI_CATEGORY"]="Homicide"

In [51]:
#for some shooting cases, they may be a homicidal case, so check with the homicide data. For those shooting cases assign category homicide
#check the event_unique_id of shooting with that of homicide, if they match, assign 'Homicide' for those shooting records

In [52]:
homicide_event_ids = set(homicide['EVENT_UNIQUE_ID'])

# Assign "Homicide" where EVENT_UNIQUE_ID is in the homicide DataFrame, else assign NaN
shooting['MCI_CATEGORY'] = shooting['EVENT_UNIQUE_ID'].apply(
    lambda x: 'Homicide' if x in homicide_event_ids else pd.NA
)

In [53]:
#also the shooting records may also be present in crimeData. if they are just assign the mci_category from crimeData

In [54]:

# Perform a left join between shooting_df and crimeData on EVENT_UNIQUE_ID
# Bring in the 'MCI_CATEGORY' from crimeData for matching records
merged_df = pd.merge(shooting, crimeData[['EVENT_UNIQUE_ID', 'MCI_CATEGORY']], 
                     on='EVENT_UNIQUE_ID', how='left', suffixes=('', '_from_crimeData'))

# Update 'MCI_CATEGORY' in shooting_df only where the value from crimeData is not NaN
merged_df['MCI_CATEGORY'] = merged_df['MCI_CATEGORY_from_crimeData'].combine_first(merged_df['MCI_CATEGORY'])

# Drop the extra column created from crimeData
merged_df.drop(columns=['MCI_CATEGORY_from_crimeData'], inplace=True)


merged_df

,OBJECTID,EVENT_UNIQUE_ID,OCC_DATE,OCC_YEAR,OCC_MONTH,OCC_DOW,OCC_DOY,OCC_DAY,OCC_HOUR,OCC_TIME_RANGE,...,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84,x,y,OFFENCE,MCI_CATEGORY
0,1,GO-2004133803,1/1/2004 5:00:00 AM,2004,January,Thursday,1,1,0,Night,...,023,Pelmo Park-Humberlea (23),023,Pelmo Park-Humberlea (23),-79.538218,43.733742,-8.854154e+06,5.424330e+06,Shooting,<NA>
1,2,GO-2004120070,1/3/2004 5:00:00 AM,2004,January,Saturday,3,3,1,Night,...,NSA,NSA,NSA,NSA,0.000000,0.000000,6.327780e-09,5.664924e-09,Shooting,<NA>
2,3,GO-2004135509,1/4/2004 5:00:00 AM,2004,January,Sunday,4,4,4,Night,...,078,Kensington-Chinatown (78),078,Kensington-Chinatown (78),-79.399163,43.656119,-8.838674e+06,5.412379e+06,Shooting,<NA>
3,4,GO-2004126451,1/5/2004 5:00:00 AM,2004,January,Monday,5,5,13,Afternoon,...,124,Kennedy Park (124),124,Kennedy Park (124),-79.256039,43.732900,-8.822742e+06,5.424200e+06,Shooting,<NA>
4,5,GO-2004139160,1/6/2004 5:00:00 AM,2004,January,Tuesday,6,6,19,Evening,...,146,Malvern East (146),132,Malvern (132),-79.207412,43.801802,-8.817329e+06,5.434822e+06,Shooting,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7465,6291,GO-20241428429,6/30/2024 5:00:00 AM,2024,June,Sunday,182,30,19,Evening,...,124,Kennedy Park (124),124,Kennedy Park (124),-79.256864,43.734823,-8.822834e+06,5.424497e+06,Shooting,Assault
7466,6292,GO-20241423048,6/30/2024 5:00:00 AM,2024,June,Sunday,182,30,2,Night,...,037,Willowdale West (37),037,Willowdale West (37),-79.427056,43.777205,-8.841779e+06,5.431029e+06,Shooting,Assault
7467,6293,GO-20241427553,6/30/2024 5:00:00 AM,2024,June,Sunday,182,30,17,Afternoon,...,129,Agincourt North (129),129,Agincourt North (129),-79.270961,43.810980,-8.824403e+06,5.436237e+06,Shooting,Assault
7468,6294,GO-20241427459,6/30/2024 5:00:00 AM,2024,June,Sunday,182,30,17,Afternoon,...,145,Malvern West (145),132,Malvern (132),-79.230309,43.795589,-8.819878e+06,5.433863e+06,Shooting,Assault
7469,6295,GO-20241426199,6/30/2024 5:00:00 AM,2024,June,Sunday,182,30,12,Afternoon,...,139,Scarborough Village (139),139,Scarborough Village (139),-79.217352,43.747916,-8.818435e+06,5.426514e+06,Shooting,Assault

In [55]:
shooting_categorized=merged_df

In [56]:
# also for homicide dataframe we do not have occ_hour column. lets get that from shooting

In [57]:
homicide["OCC_HOUR"]=np.nan

In [58]:
homicide_occHr = pd.merge(homicide, shooting_categorized[['EVENT_UNIQUE_ID', 'OCC_HOUR']], 
                           on='EVENT_UNIQUE_ID', how='left', suffixes=('', '_from_shooting'))

# Update the 'OCC_HOUR' in homicide_df with the value from shooting_df where available
homicide_occHr['OCC_HOUR'] = homicide_occHr['OCC_HOUR_from_shooting'].combine_first(homicide_occHr['OCC_HOUR'])

# Drop the extra column created from shooting_df
homicide_occHr.drop(columns=['OCC_HOUR_from_shooting'], inplace=True)

In [59]:
homicide_categorized=homicide_occHr

In [60]:

# Keep relevant columns
homicide_df = homicide_categorized[['OBJECTID', 'EVENT_UNIQUE_ID', 'OCC_DATE', 'OCC_YEAR', 'OCC_MONTH', 
                           'OCC_DAY', 'OCC_DOW', 'OCC_DOY', 'OFFENCE','MCI_CATEGORY','OCC_HOUR',
                           'LONG_WGS84', 'LAT_WGS84', 'HOOD_158', 'NEIGHBOURHOOD_158']]

shooting_df = shooting_categorized[['OBJECTID', 'EVENT_UNIQUE_ID', 'OCC_DATE', 'OCC_YEAR', 'OCC_MONTH', 
                           'OCC_DAY', 'OCC_DOW', 'OCC_DOY','OCC_HOUR', 'OFFENCE','MCI_CATEGORY',
                           'LONG_WGS84', 'LAT_WGS84', 'HOOD_158', 'NEIGHBOURHOOD_158']]

crimeData_df = crimeData[['OBJECTID', 'EVENT_UNIQUE_ID', 'OCC_DATE', 'OCC_YEAR','OCC_MONTH','OCC_DAY','OCC_DOW','OCC_DOY','OCC_HOUR',
                              'OFFENCE', 'MCI_CATEGORY', 'LONG_WGS84', 'LAT_WGS84', 
                              'HOOD_158', 'NEIGHBOURHOOD_158']]

In [61]:
# Concatenate the DataFrames
concatenated_df = pd.concat([homicide_df, shooting_df], ignore_index=True)

# Remove duplicates based on 'event_unique_id', keeping the first occurrence
final_homicide_shooting = concatenated_df.drop_duplicates(subset='EVENT_UNIQUE_ID', keep='first')

In [62]:
final_homicide_shooting

,OBJECTID,EVENT_UNIQUE_ID,OCC_DATE,OCC_YEAR,OCC_MONTH,OCC_DAY,OCC_DOW,OCC_DOY,OFFENCE,MCI_CATEGORY,OCC_HOUR,LONG_WGS84,LAT_WGS84,HOOD_158,NEIGHBOURHOOD_158
0,1,GO-2004111878,1/3/2004 5:00:00 AM,2004,January,3,Saturday,3,Other,Homicide,NaN,-79.392828,43.685026,098,Rosedale-Moore Park (98)
1,2,GO-2004125755,1/8/2004 5:00:00 AM,2004,January,8,Thursday,8,Shooting,Homicide,8.0,-79.233852,43.781782,142,Woburn North (142)
2,3,GO-2004136086,1/8/2004 5:00:00 AM,2004,January,8,Thursday,8,Shooting,Homicide,14.0,-79.205574,43.810544,146,Malvern East (146)
3,4,GO-2004148623,1/25/2004 5:00:00 AM,2004,January,25,Sunday,25,Shooting,Homicide,4.0,-79.434387,43.670467,171,Junction-Wallace Emerson (171)
4,5,GO-2004148619,1/25/2004 5:00:00 AM,2004,January,25,Sunday,25,Shooting,Homicide,0.0,-79.204958,43.822997,144,Morningside Heights (144)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8909,6291,GO-20241428429,6/30/2024 5:00:00 AM,2024,June,30,Sunday,182,Shooting,Assault,19.0,-79.256864,43.734823,124,Kennedy Park (124)
8910,6292,GO-20241423048,6/30/2024 5:00:00 AM,2024,June,30,Sunday,182,Shooting,Assault,2.0,-79.427056,43.777205,037,Willowdale West (37)
8911,6293,GO-20241427553,6/30/2024 5:00:00 AM,2024,June,30,Sunday,182,Shooting,Assault,17.0,-79.270961,43.810980,129,Agincourt North (129)
8912,6294,GO-20241427459,6/30/2024 5:00:00 AM,2024,June,30,Sunday,182,Shooting,Assault,17.0,-79.230309,43.795589,145,Malvern West (145)
8913,6295,GO-20241426199,6/30/2024 5:00:00 AM,2024,June,30,Sunday,182,Shooting,Assault,12.0,-79.217352,43.747916,139,Scarborough Village (139)

In [63]:
# Concatenate the DataFrames
final_merged = pd.concat([final_homicide_shooting, crimeData_df], ignore_index=True)

# Remove duplicates based on 'event_unique_id', keeping the first occurrence
final_merged = final_merged.drop_duplicates(subset='EVENT_UNIQUE_ID', keep='first')

In [64]:
merged_df=final_merged

In [65]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 349474 entries, 0 to 403669
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   OBJECTID           349474 non-null  int64
 1   EVENT_UNIQUE_ID    349474 non-null  object
 2   OCC_DATE           349474 non-null  object
 3   OCC_YEAR           349371 non-null  float64
 4   OCC_MONTH          349371 non-null  object
 5   OCC_DAY            349371 non-null  float64
 6   OCC_DOW            349371 non-null  object
 7   OCC_DOY            349371 non-null  float64
 8   OFFENCE            349474 non-null  object
 9   MCI_CATEGORY       347154 non-null  object
 10  OCC_HOUR           348834 non-null  float64
 11  LONG_WGS84         349474 non-null  float64
 12  LAT_WGS84          349474 non-null  float64
 13  HOOD_158           349474 non-null  object
 14  NEIGHBOURHOOD_158  349474 non-null  object
dtypes: float64(6), int64(1), object(8)
memory usage: 42.7+ MB

In [66]:
def categorize_time(hour):
    if pd.isna(hour):
        return np.nan
    elif 21 <= hour < 24 or 0 <= hour < 4:
        return 'Night'
    elif 4 <= hour < 12:
        return 'Morning'
    elif 12 <= hour < 17:
        return 'Afternoon'
    else:
        return 'Evening'

In [67]:
merged_df['OCC_TIME_RANGE'] = merged_df['OCC_HOUR'].apply(categorize_time)

In [68]:
merged_df['OCC_TIME_RANGE'].isna().sum()

640

In [69]:
merged_df["MCI_CATEGORY"].isna().sum()

2320

In [70]:
shooting_categorized["MCI_CATEGORY"].isna().sum()

2320

In [71]:
shooting_categorized["MCI_CATEGORY"].value_counts()

MCI_CATEGORY
Assault            4210
Homicide            682
Robbery             246
Break and Enter       7
Auto Theft            5
Name: count, dtype: int64

In [72]:
#so all the uncategorized records come from shooting dataframe. for some shooting, we got the category from either homicide or the crimeData dataframes
#Majority of shooting cases are categorized as assault. so let us just assign assault

In [73]:
merged_df["MCI_CATEGORY"].unique()

array(['Homicide', <NA>, 'Robbery', 'Assault', 'Auto Theft',
       'Break and Enter', 'Theft Over'], dtype=object)

In [74]:
merged_df["MCI_CATEGORY"]=merged_df["MCI_CATEGORY"].fillna("Assault")

In [75]:
duplicate_records = merged_df[merged_df.duplicated(subset=['EVENT_UNIQUE_ID'], keep=False)]

In [76]:
duplicate_records
#no duplicates. Awesome!!

Empty DataFrame
Columns: [OBJECTID, EVENT_UNIQUE_ID, OCC_DATE, OCC_YEAR, OCC_MONTH, OCC_DAY, OCC_DOW, OCC_DOY, OFFENCE, MCI_CATEGORY, OCC_HOUR, LONG_WGS84, LAT_WGS84, HOOD_158, NEIGHBOURHOOD_158, OCC_TIME_RANGE]
Index: []

In [77]:
merged_df.to_csv('mergedCrime.csv',index=False)

In [78]:
merged_df[merged_df["OCC_YEAR"]>2018]

,OBJECTID,EVENT_UNIQUE_ID,OCC_DATE,OCC_YEAR,OCC_MONTH,OCC_DAY,OCC_DOW,OCC_DOY,OFFENCE,MCI_CATEGORY,OCC_HOUR,LONG_WGS84,LAT_WGS84,HOOD_158,NEIGHBOURHOOD_158,OCC_TIME_RANGE
940,1018,GO-201930365,1/6/2019 5:00:00 AM,2019.0,January,6.0,Sunday,6.0,Stabbing,Homicide,NaN,-79.252487,43.727779,124,Kennedy Park (124),NaN
941,1019,GO-201945560,1/8/2019 5:00:00 AM,2019.0,January,8.0,Tuesday,8.0,Stabbing,Homicide,NaN,-79.269795,43.711078,120,Clairlea-Birchmount (120),NaN
942,1020,GO-201954928,1/9/2019 5:00:00 AM,2019.0,January,9.0,Wednesday,9.0,Shooting,Homicide,22.0,-79.559929,43.722846,004,Rexdale-Kipling (4),Night
943,1021,GO-201969065,1/12/2019 5:00:00 AM,2019.0,January,12.0,Saturday,12.0,Shooting,Homicide,0.0,-79.285942,43.771587,126,Dorset Park (126),Night
944,1022,GO-2019146683,1/24/2019 5:00:00 AM,2019.0,January,24.0,Thursday,24.0,Stabbing,Homicide,NaN,-79.486392,43.670231,111,Rockcliffe-Smythe (111),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403662,396728,GO-20241428067,2024/06/30 05:00:00+00,2024.0,June,30.0,Sunday,182.0,Robbery With Weapon,Robbery,20.0,-79.350149,43.719590,042,Banbury-Don Mills (42),Evening
403663,396729,GO-20241425285,2024/06/30 05:00:00+00,2024.0,June,30.0,Sunday,182.0,Assault,Assault,11.0,-79.404204,43.652825,078,Kensington-Chinatown (78),Morning
403664,396730,GO-20241422670,2024/06/30 05:00:00+00,2024.0,June,30.0,Sunday,182.0,Assault With Weapon,Assault,1.0,-79.479651,43.721889,029,Maple Leaf (29),Night
403668,396734,GO-20241426669,2024/06/20 05:00:00+00,2024.0,June,20.0,Thursday,172.0,Theft From Motor Vehicle Over,Theft Over,13.0,-79.521053,43.616490,160,Mimico-Queensway (160),Afternoon
403669,396735,GO-20241425318,2024/06/29 05:00:00+00,2024.0,June,29.0,Saturday,181.0,Assault,Assault,20.0,-79.513940,43.598831,018,New Toronto (18),Evening